$white: white;
$black: black;
// $green: #75dab4;
$darkGreen: #238636;
$silver: #9e9e9e;
// $lightSilver: rgb(240, 229, 229);

$red: #d10f0f;
// $purple: #8250df;
// $blue: #0079bf;
$darkPurple: #26294b;

// $darkBlue: #0b2c3d;
// $lightBlue: #005a88;

$orange: #ff5a3c;
$darkOrange: #fb412a;
